body { 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #DFDFDF!important;
 }



#empresatotal{
	width: 350px;
	height: 350px;
	overflow: scroll;
	color: #4D3C3C;
		
}
#ypflogo{
	width: 150px;
	height: 150px;
	
	 
}
#shellogo{
	width: 150px;
	height: 150px;
	
	}
#axionlogo{
	width: 150px;
	height: 150px;
	
	
}
#petrologo{
	width: 150px;
	height:150px;
	
	
}
header{
	font-family: 'Anton', sans-serif;
	color: #589357;
	text-decoration: underline; 
}
#h2marca{
	font-family: 'Anton', sans-serif;
	color: #589357;
	text-decoration: underline; 
}
#h2mapa{
	font-family: 'Anton', sans-serif;
	color: #589357;
	text-decoration: underline;
}
#estacion{
	font-family: 'Anton', sans-serif;
	color: #589357;
	text-decoration: underline;
}
p{
	font-family: 'Anton', sans-serif;
	color: #4D3C3C;
}