body { 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #DAF7A6!important ;
 }



#empresatotal{
	width: 350px;
	height: 350px;
	overflow: scroll;
	
	color: #C70039;	
}
#ypflogo{
	width: 150px;
	height: 150px;
	margin-top: 0px;
	
}
#shellogo{
	width: 150px;
	height: 150px;

}
#axionlogo{
	width: 150px;
	height: 150px;
}
#petrologo{
	width: 150px;
	height:150px;
}
h2{
	font-family: 
}